@model ProProducto
@using puntodeventa.Models
@{
    ViewBag.Title = "Eliminar producto";
}

<h2>@ViewBag.Title</h2>

<h3>¿Estás seguro de que quieres eliminar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <!-- Agrega aquí más campos según sea necesario -->
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
